.container{
  width: 100%;
  height: 100vh;
  background-image: -moz-linear-gradient(rgba(0,0,0,0.5),
  rgba(0,0,0,0.5),
  url(background.png));
  padding: 3px;
  display: grid;
  grid-gap: 2em;
  overflow: auto;

}
h4{
  font-size: large;
}
table, th, td{
  border: 1px solid;
}

table{
  width:100%;
}


a:link{
  color: rgb(165, 52, 89);
}

a:visited{
  color: teal;
}

  .header{
  float: left;
  color: #f8b195;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 50px;
  line-height: 25px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  background-color: #c06c84;


}
.header-border{
  border-radius: 30%;
}

.head-right a:hover {
  color: hotpink;
}
.head-right{
  overflow: hidden;
  background-color: #c06c84;
}

.head-right a{
float:left;
padding: 14px 16px;
}
.head-right {
  float: right;
  text-decoration: none;
  font-size: 25px;

}


.header a.maya {
  font-weight: bold;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }

  .parent{
    margin-top: 200px;
  }
}
add margin top changes here so it only happens on a different device



head{
  text-align: center;
}
body{
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  
}
h1{
  font-size: 45px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}
h2{
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  color: #6c5b7b;
}
.title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color:#355c7d;
  opacity:75%;
  

}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}

li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-right:10px;
}
ul {
  list-style-type: none;
}

img{
    width:200px;
    height:250px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.parent {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 250px 1fr;
}


.child {
  position: absolute;
  top: 0;
  left: 500px;
  text-align: left;
}


.parent {
  position: relative;
  left:100px;
}

.carousel{
align-items: center;
width: 250px;
height: 200px;

}
.carousel-inner > .item > img {
width:250px;
height:200px;
}
.container-fluid{
  text-align: center;
}