@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Playfair+Display:wght@500&display=swap');
#header{
    /*background-image: url(maya.jpg);
    background-repeat: no-repeat;*/ 
    background-size: cover;
    background-position: center;
    height:125vh;
    background-color: #E0D0C1;
}


.hidden{
    opacity: 0;
    filter:blur(2px);
    transition: all 2s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition:none;
    }
}
.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

ul li{
    color: #3c2017;
    text-align: left;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p{
    color: #3c2017;
    font-style: italic;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
h3{
    color: #3c2017;
    font-weight: 200;
}

h1{
    color: #3c2017;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Playfair Display', serif;}
.logo{
    width:200px;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
body{
background-color: #d8c7b8;
margin:20px;
background-repeat:no-repeat;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #62472e;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover {
color: #b79576;
font-size: x-large;
}
span{
    color: #775144;
}
.header-text{
    margin-top:10%;
    font-size: 25px;
}
.header-text h1{

    font-size: 50px;
}
#aboutme{
    padding: 80px 0;
    color: #A44A3F;
}
#aboutme .subtitle{
    text-align: center;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1{
    flex-basis:50%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.col-2{
    flex-basis: 50%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.col-1 img{
    border-radius: 10px;
    width:100%;
}
.subtitle{
    font-size: 50px;
    font-weight: 500;
    color: #3c2017;
}
/*tabs*/
.tabs{
    display:flex;
    margin: 25px 0 50px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width:0;
    height:2px;
    position: absolute;
    background: #775144;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:50%
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
/*skills*/
#skills{
    padding: 30px 0;
}

.content{
    border: 1px solid #3c2017;
    border-radius: 10px;
    margin:10px;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px rgb(146, 105, 51);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.cardcontainer{
    display: flex;
    justify-content: space-between;
    padding:20px;
}


/*cards*/
.innercard{
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.content.flipped .innercard{
    transform: rotateY(180deg);
}

.frontcard,
.backcard{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.frontcard{
    display:flex;
    align-items: center;
    justify-content: center;
}

.backcard{
    transform: rotateY(180deg);
    display:flex;
    align-items: center;
    justify-content: center;
}

.intro-sect{
    text-align: center;
    margin-top: 150px;
}
.intro-text{
    text-align: center;
    margin-bottom: -125px;
}
a:link{
    text-decoration: none;
    color: #62472e;
    transition: transform 0.3s ease-in-out;
}
a:visited{
    color: #3c2017;
}
form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    color: #b79576;
    margin: 0 auto;
}

label{
    display:block;
}

input,textarea{
    width:100%;
    padding:10px;
    margin-bottom:16px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #b79576;

}

button:hover{
    background-color: #62472e;
}
.content:hover{
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;

}

.container{
    margin-bottom: -5%;
}

label{
    color:#62472e;
}

#skills{
    text-align: center;
}

#experience{
    text-align: center;
}

#socials{
    text-align: center;
}

#contactme{
    text-align: center;
}
