#header{
    /*background-image: url(maya.jpg);*/
    background-size: cover;
    background-position: center;
    height:100vh;

}
ul li{
    color: bisque;
    text-align: left;
    font-size: large;
}
p{
    color: burlywood;
    font-style: italic;
}
h3{
    color: burlywood;
    font-weight: 200;
}
h1{
    color: bisque;
}
.logo{
    width:150px;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
body{
background-color: black;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover {
color:rgb(149, 104, 53);
font-size: x-large;
}
span{
    color:rgb(216, 165, 98);
}
.header-text{
    margin-top:15%;
    font-size: 25px;
}
.header-text h1{
    margin-top: 0%;
    margin-right:50%;
    font-size: 50px;
}
#aboutme{
    padding: 80px 0;
    color: lightgray;

}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1{
    flex-basis:25%;
    margin-top: 10%;
}
.col-2{
    flex-basis: 65%;
    margin-top: 10%;

}
.col-1 img{
    border-radius: 10px;
    width:100%;
}
.subtitle{
    font-size: 50px;
    font-weight: 500;
    color:lightgrey;
}
/*tabs*/
.tabs{
    display:flex;
    margin: 25px 0 50px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width:0;
    height:2px;
    position: absolute;
    background: burlywood;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:50%
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
/*skills*/
#skills{
    padding: 30px 0;
}

.content{
    border: 1px solid burlywood;
    border-radius: 10px;
    margin:10px;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px rgb(146, 105, 51);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.cardcontainer{
    display: flex;
    justify-content: space-between;
    padding:20px;
}


/*cards*/
.innercard{
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.content.flipped .innercard{
    transform: rotateY(180deg);
}

.frontcard,
.backcard{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.frontcard{
    display:flex;
    align-items: center;
    justify-content: center;
}

.backcard{
    transform: rotateY(180deg);
    display:flex;
    align-items: center;
    justify-content: center;
}

.intro-sect{
    text-align: center;
    margin-top: 150px;
}
.intro-text{
    text-align: center;
    margin-bottom: -125px;
}
a:link{
    text-decoration: none;
    color: bisque;
    transition: transform 0.3s ease-in-out;
}
a:visited{
    color: burlywood;
}
.socials li:hover{
    font-size: x-large;
}
form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

label{
    display:block;
}

input,textarea{
    width:100%;
    padding:10px;
    margin-bottom:16px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    background-color: burlywood;
}

button:hover{
    background-color: bisque;
}
.content:hover{
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;

}

.container{
    margin-bottom: -5%;
}
